#edit-profile {
    border: 1px solid #363636;
    background-color: #000;
    padding: 1.5em 2em;
    max-width: 40%;
    margin: 2em auto;
    text-align: center;
    border-radius: 15px;
}

.subtitle {
    color: #ccc;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-bottom: 1em;
}